<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
    href="/../css/styles.css" type="text/css">
    <title>Word count</title>
  </head>
  <body>
    <div class="container">
      <h1>Let's Math!</h1>
      <p>If you've ever wondered how many times Captain Ahab says dick in that book by a similar name now you can find out!</p>
      <p>Enter a word that you want this app to search for. Then enter a phrase, sentence, or entire novel and the work will be done for you! The app will do all the reading and all the counting and let you know how many times your word appeared in the text.</p>
      <form action="/count">
        <div class="form-group">
          <label for="input_phrase">Type phrase here:</label>
          <input class="form-control" type="text" name="input_phrase" id="input_phrase" required>
        </div>
        <div class="form-group">
          <label for="input_word">And the word to count here:</label>
          <input class="form-control" type="text" name="input_word" id="input_word" required>
        </div>
         <button type="submit" name="button">NOW!</button>
      </form>
    </div>
  </body>
  </html>
